.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.inputFarmerTable{
    width: 40%;
}
.pricefarmer{
    margin-left: 1rem;
    margin-right: 1rem;
}

.tabFarmer{
    width: 100%;
}

/*For the farmer*/

.list-group-item {
    background-color: #f2f2f2;
    border-color: rgb(248, 180, 78);
}

.list-group-item.active {
    background-color: rgb(248, 180, 78);
    border-color: rgb(248, 180, 78);
    color: black;
}

.myModalEnd {
    width: 100%;
    text-align: center;
}

.colBasket {
    text-align: right;
    margin-right: 2rem;
}

.nounderline {
    text-decoration: none !important;
    color: #ec9a2a !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.completed-pill {
    background-color: #20566A !important;
}

.pending-pill {
    background-color: #F3BD72 !important;
}

.NavBar-Background {
    background-color: #143642;
}

.NavBar-Background>div>span {
    color: #ec9a2a !important;
}

.NavBar-Background>div .callandarButton {
    color: #ffffff !important;
    background-color: #0f8b8b;
    border: 0px solid #ec9a2a !important;
    font-weight: 400 !important;
}

.border-right {
    border-right: 1px solid #ddd;
}

.priority {
    z-index: 100;
}

.btn-login {
    font-size: 20px;
    text-decoration: none;
}

.btn-reg {
    font-size: 20px;
    text-decoration: none;
}

.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}

.border-left {
    border-left: 1px solid #ddd;
}

.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #ec9a2a !important;
    /*box-shadow: 5px 8px #888888 !important;*/
    box-shadow: 0px 0px #888888 !important;
    color: black !important;
    border: 0px solid #ec9a2a !important;
}

.btn-hour,
.btn-hour:hover,
.btn-hour:focus,
.btn-hour:active,
.btn-hour:visited,
.btn-hour:checked {
    border: 0px solid #ec9a2a !important;
    background-color: #0f8b8b;
    color: white !important;
}

.btn-primary {
    border: 0px solid #ec9a2a !important;
    background-color: #FFDEAD;
    font-weight: 600;
    color: #CE8012;
}

.cursive {
    font-size: 19px !important;
    font-family: italic;
}

.myText {
    font-size: 17px !important;
    font-weight: 500 !important;
}

.myPageTitle{
    font-size: 30px !important;
}

.myTitle {
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: Helvetica, sans-serif;
    color: #143642;
}

.input-hour {
    border: 1px solid #143642 !important;
}

.descriptionDiv {
    color: #575757;
    font-weight: 500 !important;
}

.cartButton {
    border: 0px solid #ec9a2a !important;
    font-weight: 400;
    background-color: #0C7373;
    color: white;
}

.cartNavButton{
    background-color: #FFC670;
    color:red;
}
.color {
    color: #0f8b8b;
}

.cartButton:hover,
.cartButton:focus,
.cartButton:active,
.cartButton:visited {
    font-size: 17px;
    font-weight: 500;
    background-color: #0C7373;
    border: 1px solid #143642;
}

.btn-danger:hover,
.btn-danger:checked,
.btn-danger:active {
    color: white !important;
    background-color: #C1260B !important;
}

.footerHomePage{
    background-color:#4A4A4A;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7rem;
    height: 15rem;
    min-width: 100%;
    max-width: 100%;
}

.footerTitle{
    color:white;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
}

.footerButton{
    min-width: 60%;
    margin-bottom: 0.5rem;
}

.footerTitleDx{
    color:white;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.footerInfo{
    color:white;
    font-size: 15px;
    margin-top: none;
    margin-bottom: 0rem;
    margin-left: 1rem;
    text-align: right;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #FFF4C7;
}

.table-striped>tbody {
    font-weight: 500;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.myCard {
    border-style: solid;
    border-width: 0px;
    border-color: #B77110;
}

.cardDescription {
    border-style: outset;
    border-width: 0px;
    background-color: white;
    border-color: #EC9A29;
}

.priceDescription {
    font-size: 17px;
    font-weight: 500;
    background-color: white;
}

.btn-yellow {
    border: 0px solid #ec9a2a !important;
    background-color: #0C7373;
    color: white;
}

.accordion-button {
    background-color: #EDEDED !important;
}

.alertAccHeader>.accordion-button:hover,
.alertAccHeader>.accordion-button:focus,
.alertAccHeader>.accordion-button:active,
.alertAccHeader>.accordion-button:visited {
    background-color: #FFCCCC !important;
}

.accordion-button:hover,
.accordion-button:focus {
    background-color: #75F0F0 !important;
}

.tabFarmer{
    margin-top: 0rem;
}
.alertHeader {
    background-color: #FFB3B3;
    font-weight: 500;
    font-size: 18px;
}

.contactButton {
    background-color: #0C7373;
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #ec9a2a;
    border: 1px solid #143642;
}

.linkred {
    color: red;
}

.login-form {
    padding: 2%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 10px;
    background-color: #143642;
    text-decoration: none;
    display: flex;
}

@media only screen and (min-width: 1300px) {
    .login-form {
        width: 40%;
        height: 70%;
    }
}

.myGif {
    height: 500px;
    width: 400px;
}
.hover-category:hover,
.hover-category:hover>.btn-primary ,
.hover-category:checked>.btn-primary,
.hover-category:active>.btn-primary,
.hover-category:focus>.btn-primary,
.hover-category:visited>.btn-primary {
    background-color: #ec9a2a !important;
    /*box-shadow: 5px 8px #888888 !important;*/
    box-shadow: 0px 0px #888888 !important;
    color: black !important;
    border: 0px solid #ec9a2a !important;
}
.loginButton {
    position: relative;
    left: 300px;
    top: 16px;
    font-size: 17px;
    font-weight: 400;
    background-color: #0f8b8b;
    border: 1px solid #143642;
}

.yellowLink {
    border: 0px solid #ec9a2a !important;
    background-color: #0C7373;
    color: white;
}

.yellowLink:hover,
.yellowLink:focus {
    background-color: #ec9a2a;
    color: black;
}

.greyLink {
    border: 0px solid #797877 !important;
    background-color: "secondary";
    color: white;
}

.greyLink:hover,
.greyLink:focus {
    background-color: rgb(90, 89, 89);
    color: white;
}

.text-yellow {
    color: #ec9a2a !important;
}

.vh-70 {
    height: 70vh;
}

.carousel-control-next-icon .carousel-control-prev-icon {
    color: #143642;
}

.divisionRight {
    border-right: 2px solid #ec9a2a;
    height: 15rem;
}

.division {
    border-bottom: 2px solid #ec9a2a;
}

.noborderbottom {
    border-bottom: none;
}

/* CSS used here will be applied after bootstrap.css */

.mynotify {
    position: fixed;
    right: 12px;
    top: 40px;
    background-color: #edeaea;
}

.form_wrapper {
    margin: 0px 20px;
}

.col {
    margin-left: 15px;
    margin-right: 15px;
}

.important-buttons-product-list {
    background-color: white;
    border: solid 2px #ec9a2a !important;
}