.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.myModalEnd {
    width: 100%;
    text-align: center;
}

.colBasket{
    text-align: right;
    margin-right: 2rem;
}


@media only screen and (min-width: 1200px) {
    .containerProdRequest {
        padding-left: 250px;
        padding-right: 250px;
    }
  }

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.NavBar-Background {
    background-color: #143642;
}

.NavBar-Background>div>span {
    color: #ec9a2a !important;
}

.NavBar-Background>div button {
    color: #ec9a2a !important;
    text-decoration: none;
}

.NavBar-Background>div .callandarButton {
    color: #ffffff !important;
    background-color: #0f8b8b;
    border: 0px solid #ec9a2a !important;
    font-weight: 400 !important;
}

.border-right {
    border-right: 1px solid #ddd;
}

.priority {
    z-index: 100;
}

.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}

.border-left {
    border-left: 1px solid #ddd;
}

.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    color: white !important;
    background-color: #ec9a2a !important;
    /*box-shadow: 5px 8px #888888 !important;*/
    box-shadow: 0px 0px #888888 !important;
    color: black !important;
    font-weight: 700 !important;
    border: 0px solid #ec9a2a !important;
}

.btn-primary {
    border: 0px solid #ec9a2a !important;
    background-color: #FFDEAD;
    font-size: 20px;
    font-weight: 600;
    color: #CE8012;
}

.cursive {
    font-size: 19px !important;
    font-family: italic;
}

.myText {
    font-size: 17px !important;
    font-weight: 500 !important;
}

.myTitle {
    font-weight: 600 !important;
    font-family: Helvetica, sans-serif;
    color: #143642;
}

.descriptionDiv {
    color: #575757;
    font-weight: 500 !important;
}

.cartButton {
    border: 0px solid #ec9a2a !important;
    font-weight: 400;
    background-color: #0C7373;
    border: 1px solid #0C7373;
    color: white;
}

.color {
    color: #0f8b8b;
}

.cartButton:hover,
.cartButton:focus,
.cartButton:active,
.cartButton:visited {
    font-size: 17px;
    font-weight: 500;
    background-color: #0C7373;
    border: 1px solid #143642;
}

.btn-danger:hover,
.btn-danger:checked,
.btn-danger:active {
    color: white !important;
    background-color: #C1260B !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.myCard {
    border-style: solid;
    border-width: 0px;
    border-color: #B77110;
}

.cardDescription {
    border-style: outset;
    border-width: 0px;
    background-color: white;
    border-color: #EC9A29;
}

.priceDescription {
    font-size: 21px;
    font-weight: 500;
    background-color: white;
}

.btn-yellow {
    border: 0px solid #ec9a2a !important;
    background-color: #0C7373;
    border: 1px solid #0C7373;
    color: white;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #ec9a2a;
    border: 1px solid #143642;
}

.linkred {
    color: red;
}

.login-form {
    padding: 2%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 70%;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #143642;
}

.loginButton {
    position: relative;
    left: 300px;
    top: 16px;
    font-size: 17px;
    font-weight: 400;
    background-color: #0f8b8b;
    border: 1px solid #143642;
}

.yellowLink {
    border: 0px solid #ec9a2a !important;
    background-color: #0C7373;
    border: 1px solid #0C7373;
    color: white;
}

.yellowLink:hover,
.yellowLink:focus {
    background-color: #ec9a2a;
    color: black;
}

.text-yellow {
    color: #ec9a2a !important;
}

.vh-70 {
    height: 70vh;
}

.carousel-control-next-icon .carousel-control-prev-icon {
    color: #143642;
}